@charset "UTF-8";
/* CSS Document */
.top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top li {
    float: right;
}
 .top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.top li a:hover {
    background-color:#800609;
}
	
	
.mySlides {
	display:none;
	}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
	}
.w3-badge {height:13px;width:13px;padding:0}

	hr.new1{
		border: 1px solid black;
	}
.left{
	width:100px;height:80px;
	}
.right{
	   float:left;width:400px; height: 450px; margin-left:600px;
	}
.site-header {
  background-color:#FFFFFF;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color:#0F0E0E;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color:#666464;
  text-decoration: none;
}



.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
	right:30px;
	background-color:sienna;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #FFFFFF;
}

.my-float{
	margin-top:22px;
}